
.depertment-area .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .depertment-area .section-title {
      display: unset;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-area .section-title {
      padding-bottom: 35px;
      display: unset;
      text-align: left;
    }
  }
  
  .depertment-area .section-title .section-heading {
    max-width: 500px;
    text-align: left;
    border-right: 3px solid #1e5ad7;
    margin: 0 0;
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .depertment-area .section-title .section-heading {
      min-width: 490px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .depertment-area .section-title .section-heading {
      width: 100%;
      border-right: none;
      margin: -11px 0 0;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-area .section-title .section-heading {
      border: none;
    }
  }
  
  .depertment-area .section-title .section-para {
    padding-left: 65px;
    text-align: left;
    margin: 0;
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .depertment-area .section-title .section-para {
      padding-left: 30px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .depertment-area .section-title .section-para {
      padding-left: 0;
      margin-top: 25px;
      max-width: 600px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-area .section-title .section-para {
      padding-left: 0;
      margin-top: 30px;
    }
  }
  
  .depertment-tab-list .depertment-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 10px;
    background: #fff;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-tab-list .depertment-tabs {
      padding-top: 30px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  
  .depertment-tab-list .depertment-tabs li {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 5px;
    background: #fff;
    width: 190px;
    max-width: 190px;
    min-height: 100%;
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .depertment-tab-list .depertment-tabs li {
      width: 165px;
      max-width: 165px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .depertment-tab-list .depertment-tabs li {
      width: 145px;
      max-width: 145px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-tab-list .depertment-tabs li {
      margin: 5px 5px;
      padding: 20px 10px;
      width: 30%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .depertment-tab-list .depertment-tabs li {
      width: 135px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .depertment-tab-list .depertment-tabs li {
      width: 135px;
    }
  }
  
  .depertment-tab-list .depertment-tabs li.active {
    background: #e04806;
    border-radius: 0;
  }
  
  .depertment-tab-list .depertment-tabs li.active .depertmet-icon {
    background: #fff;
  }
  
  .depertment-tab-list .depertment-tabs li.active .depertmet-icon img {
    -webkit-filter: invert(75%) sepia(100%) saturate(2316%) hue-rotate(216deg) brightness(88%) contrast(90%);
    filter: invert(75%) sepia(100%) saturate(2316%) hue-rotate(216deg) brightness(88%) contrast(90%);
  }
  
  .depertment-tab-list .depertment-tabs li.active .depertment-title {
    color: #fff;
    word-break: break-word;
  }
  
  .depertment-tab-list .depertment-tabs li .depertmet-icon {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #cc1616;
    margin: 0 auto 20px;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-tab-list .depertment-tabs li .depertmet-icon {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }
  }
  
  .depertment-tab-list .depertment-tabs li .depertment-title {
    word-break: break-word;
  }
  
  .depertment-images img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .depertment-contents {
    padding-left: 40px;
    max-width: 560px;
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .depertment-contents {
      padding-left: 10px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .depertment-contents {
      padding-left: 15px;
      max-width: 500px;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .depertment-contents {
      padding-left: 10px;
    }
  }
  
  .depertment-contents .common-para {
    margin-top: 40px;
  }
  
  .depertment-contents .depertment-content-list {
    margin-top: 30px;
  }
  
  .depertment-contents .depertment-content-list li {
    padding: 10px 0;
    line-height: 24px;
  }
  
  @media only screen and (max-width: 480px) {
    .depertment-contents .depertment-content-list li {
      font-size: 14px;
    }
  }
  
  .depertment-contents .depertment-content-list li i {
    color: #1e5ad7;
    margin-right: 5px;
  }
  
  @-webkit-keyframes fade-effect {
    0% {
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes fade-effect {
    0% {
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .check-area {
    padding: 60px 0;
  }
  
  .check-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .check-wrapper {
      display: block;
    }
  }
  
  .check-wrapper .check-left .check-para {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
  }
  
  .check-wrapper .check-button .btn--custom {
    margin-top: 0;
  }
  
  .testimonial-area {
    overflow: hidden;
  }
  
  .single-testimonial {
    margin: 15px;
    padding: 2px;
  }
  
  .single-testimonial .testimonial-top {
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
  }
  
  .single-testimonial .testimonial-top::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 100% 100%);
    background: #f2f2f2;
  }
  
  @media only screen and (max-width: 575.98px) {
    .single-testimonial .testimonial-top {
      padding: 25px 15px;
    }
  }
  
  .single-testimonial .testimonial-top i {
    color: #1e5ad7;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .single-testimonial .testimonial-top .testimonial-para {
    display: block;
    line-height: 32px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .single-testimonial .testimonial-top .testimonial-para {
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .single-testimonial .testimonial-top .testimonial-para {
      font-size: 17px;
      font-weight: 600;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-testimonial .testimonial-top .testimonial-para {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .single-testimonial .testimonial-top .testimonial-para {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .single-testimonial .testimonial-top .testimonial-para {
      font-size: 16px;
      font-weight: 400;
    }
  }
  
  .single-testimonial .testimonial-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-testimonial .testimonial-author {
      gap: 20px;
    }
  }
  
  .single-testimonial .testimonial-author .author-image {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-right: 10px;
  }
  
  .single-testimonial .testimonial-author .author-image::before {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: #1e5ad7;
    z-index: -1;
  }
  
  .single-testimonial .testimonial-author .author-image img {
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  
  .single-testimonial .testimonial-author .author-details .author-title {
    font-style: 22px;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-testimonial .testimonial-author .author-details .author-title {
      font-size: 19px;
    }
  }
  
  .single-testimonial .testimonial-author .author-details .author-para {
    font-style: italic;
    margin-top: 10px;
    display: block;
  }
  
  .testimonial-slider .slick-list {
    margin: -15px;
  }
  
  .theatre-image-wrapper .theatre-image {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .theatre-image-wrapper .theatre-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .theatre-image-wrapper .theatre-image img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .theatre-image-wrapper .theatre-image .video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 9;
  }
  
  .theatre-image-wrapper .theatre-image .video-play-btn:hover {
    background: #fff;
    color: #1e5ad7;
  }
  
  .theatre-image-wrapper .theatre-image .video-play-btn:hover::after, .theatre-image-wrapper .theatre-image .video-play-btn:hover::before {
    background: #fff;
    color: #1e5ad7;
  }
  
  .video-play-btn {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #1e5ad7;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .video-play-btn::after, .video-play-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #1e5ad7;
    z-index: -2;
    border-radius: 50%;
    -webkit-animation: pulse-border 2s linear infinite;
    animation: pulse-border 2s linear infinite;
  }
  
  .video-play-btn::before {
    -webkit-animation: pulse-border 2.5s linear infinite;
    animation: pulse-border 2.5s linear infinite;
  }
  
  @-webkit-keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: .5;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
      transform: translateX(-50%) translateY(-50%) scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: .5;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
      transform: translateX(-50%) translateY(-50%) scale(1.5);
      opacity: 0;
    }
  }
  
  .theatre-right-contents {
    padding-left: 60px;
    max-width: 540px;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .theatre-right-contents {
      padding-left: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .theatre-right-contents {
      padding-left: 0px;
    }
  }
  
  .theatre-right-contents .common-para {
    margin-top: 34px;
    margin-bottom: 10px;
  }
  
  .single-pricing {
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 0 10px 45px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .single-pricing:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  .single-pricing .pricing-top {
    position: relative;
    z-index: 1;
    padding: 40px 0 43px;
  }
  
  .single-pricing .pricing-top::before {
    content: "";
    position: absolute;
    width: calc(100% + 140px);
    height: 100%;
    left: -70px;
    top: 0;
    background: #1e5ad7;
    border-radius: 0 0 50% 50%;
    z-index: -1;
  }
  
  .single-pricing .pricing-top .price-title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    display: block;
  }
  
  .single-pricing .pricing-top .pricing-price {
    color: #fff;
  }
  
  .single-pricing .pricing-top .pricing-price sup {
    font-size: 18px;
    top: -15px;
    left: 5px;
    font-weight: 400;
  }
  
  .single-pricing .pricing-top .pricing-price sub {
    font-size: 18px;
    font-weight: 400;
    bottom: 0;
    right: 5px;
  }
  
  .single-pricing .pricing-list {
    max-width: 270px;
    margin: 28px auto 0;
    text-align: left;
  }
  
  .single-pricing .pricing-list li {
    padding: 12px 0;
  }
  
  .single-pricing .pricing-list li i {
    color: #1e5ad7;
    margin-right: 3px;
  }
  
  .counter-area {
    padding: 80px 0 70px;
  }
  
  .single-counter {
    text-align: center;
  }
  
  .single-counter .counter-count {
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #1e5ad7;
    border-radius: 0;
    margin: 0 auto 25px;
    position: relative;
    z-index: 2;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-counter .counter-count {
      margin: 0 auto 15px;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 120px;
      border-radius: 0;
    }
  }
  
  .single-counter .counter-count .odometer {
    color: #fff;
  }
  
  .single-counter .counter-count .count-title {
    color: #fff;
    display: inline;
    z-index: 1;
  }
  
  .single-counter .count-para {
    color: #292929;
    font-size: 24px;
    font-weight: 700;
    display: block;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-counter .count-para {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .single-counter .count-para {
      font-size: 18px;
    }
  }
  
  .single-blog {
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    text-align: center;
  }
  
  .single-blog.blog-style-two {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 20px;
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .single-blog.blog-style-two {
      margin-right: 0;
    }
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-blog.blog-style-two {
      margin-right: 0;
    }
  }
  
  .single-blog.blog-style-two:not(:first-child) {
    margin-top: 50px;
  }
  
  .single-blog.blog-style-two .blog-image {
    height: auto;
  }
  
  .single-blog.blog-style-two .blog-image img {
    border-radius: 10px;
  }
  
  .single-blog.blog-style-two .blog-contents {
    min-width: 100%;
    padding: 5px 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .single-blog.blog-style-two .blog-contents .blog-tags {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .single-blog.blog-style-two .blog-contents .blog-tags li:not(:last-child) a {
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  .single-blog.blog-style-two .blog-contents .blog-tags li:not(:first-child) a {
    padding-left: 20px;
  }
  
  .single-blog.blog-style-two .blog-contents .blog-tags li a {
    color: #1e5ad7;
    margin-top: 20px;
    display: inline-block;
  }
  
  .single-blog.blog-style-three .blog-contents {
    border-bottom: none;
  }
  
  .single-blog:hover .blog-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .single-blog:hover .blog-contents .btn--custom {
    color: #1e5ad7;
    border-color: #1e5ad7;
  }
  
  .single-blog .blog-image {
    height: 270px;
    display: block;
    overflow: hidden;
  }
  
  .single-blog .blog-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .single-blog .blog-dates {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 5;
    background: #1e5ad7;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9;
    top: -25px;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .single-blog .blog-dates {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .single-blog .blog-dates {
      font-size: 14px;
    }
  }
  
  .single-blog .blog-contents {
    padding: 5px 30px 30px;
    text-align: left;
    max-width: 360px;
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .single-blog .blog-contents {
      padding: 5px 10px 30px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .single-blog .blog-contents {
      padding: 5px 10px 30px;
    }
  }
  
  .single-blog .blog-contents .blog-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .single-blog .blog-contents .common-title {
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 22px;
    font-weight: 600;
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .single-blog .blog-contents .common-title {
      font-size: 20px;
    }
  }
  
  .single-blog .blog-contents .common-title:hover {
    color: #1e5ad7;
  }
  
  .single-blog .blog-contents .common-para {
    margin-top: 30px;
  }
  
  .brands-area {
    margin-bottom: -65px;
    position: relative;
    z-index: 9;
    overflow: hidden;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .brands-area {
      margin-bottom: 0;
    }
  }
  
  .brands-area .brands-wrapper {
    padding: 50px 0;
    background: #1e5ad7;
    position: relative;
    z-index: 2;
  }
  
  .brands-area .brands-wrapper::before, .brands-area .brands-wrapper::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 70px solid #1744A6;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    z-index: -1;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .brands-area .brands-wrapper::before, .brands-area .brands-wrapper::after {
      left: -30px;
      border-left: 30px solid transparent;
    }
  }
  
  @media only screen and (max-width: 575.98px) {
    .brands-area .brands-wrapper::before, .brands-area .brands-wrapper::after {
      display: none;
    }
  }
  
  .brands-area .brands-wrapper::after {
    left: auto;
    right: -40px;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
  }
  
  @media (min-width: 320px) and (max-width: 991.98px) {
    .brands-area .brands-wrapper::after {
      right: -30px;
      border-right: 30px solid transparent;
    }
  }
  
  .single-brands {
    margin: 15px;
  }
  
  .single-brands .brand-img img {
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 480px) {
    .single-brands .brand-img img {
      height: 30px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .single-brands .brand-img img {
      height: 23px;
    }
  }
  
  .brands-slider .slick-list {
    margin: -15px;
  }
  
  /* Scroll Top */
  .scroll-top {
    position: fixed;
    right: 3%;
    bottom: -50px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 9999;
    border-radius: 5px;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    background-color: #1e5ad7;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  }
  
  .scroll-top:hover .arrow-top {
    -webkit-transform: translate(-50%, -100px);
    transform: translate(-50%, -100px);
  }
  
  .scroll-top:hover .arrow-bottom {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .scroll-top.show {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
  }
  
  .scroll-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  
  .scroll-top .arrow-top {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .scroll-top .arrow-bottom {
    -webkit-transform: translate(-50%, 100px);
    transform: translate(-50%, 100px);
  }
  
  @media only screen and (max-width: 479px) {
    .scroll-top {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
    }
  }
  
  /* preloader */
  #preloader {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
  }
  
  #preloader .loader {
    width: 70px;
    height: 70px;
    background-color: #1e5ad7;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99999;
  }
  
  @-webkit-keyframes rotateplane {
    0% {
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  
  @keyframes rotateplane {
    0% {
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }